<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <div class="bg-white p-3 m-3 border-muted">
                <h5 class="text-muted mr-auto">Service Request Details</h5>
                <hr>

                <app-request-summary [setRequest]="request"></app-request-summary>
                <hr *ngIf="withJobOrder" class="hr-dotted">

                <h5 *ngIf="withJobOrder" class="text-muted mr-auto">Job Order Details</h5>
                <hr *ngIf="withJobOrder">

                <app-job-order-form *ngIf="withJobOrder" [requestDetails]="request" [manageRequest]="true" [createNew]="false"></app-job-order-form>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
</div>