<div class="modal-header">
    <h5 class="modal-title">Change Password</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="activeModal.dismiss('close')">
        <!-- (click)="modal.dismiss()" -->
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="modalForm" (ngSubmit)="handleSubmit()" method="post">
        <div *ngIf="modalForm.errors?.passwordsDontMatch && (modalForm.touched || modalForm.dirty)" class="cross-validation-error-message alert alert-danger">
            Passwords don't match
        </div>
        <div class="form-group">
            <label for="old_password">Old Password:</label>
            <input type="password" ngbAutoFocus class="form-control" 
                formControlName="old_password" [ngClass]="{'is-invalid': wrongPassword}">
            <div *ngIf="old_password.invalid && (old_password.dirty || old_password.touched)" class="invalid-indicator">
                <div *ngIf="old_password.errors.required">
                    This field is required.
                </div>
            </div>
            <div *ngIf="wrongPassword" class="invalid-indicator">
                Invalid Password
            </div>
        </div>
        <div class="form-group">
            <label for="new_password">New Password:</label>
            <input type="password" formControlName="new_password" class="form-control" name="new_password" id="new-password">
            <div *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)" class="invalid-indicator">
                <div *ngIf="new_password.errors.required">
                    This field is required.
                </div>
                <div *ngIf="new_password.errors.minlength">
                    Password should be 6 characters or more
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirm">Confirm Password:</label>
            <input type="password" formControlName="confirm_password" class="form-control">
            <div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)" class="invalid-indicator">
                <div *ngIf="confirm_password.errors.required">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-secondary mx-1" (click)="activeModal.dismiss('cancel')">Cancel</button>
            <button type="submit" class="btn btn-success mx-1">Save</button>
        </div>
    </form>
</div>
