<form class="m-3">
    <div class="row mt-0">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <label class="font-weight-light small text-muted text-nowrap mr-auto">Required <i class="text-danger font-weight-bold">*</i></label>
        </div>
    </div>  

    <div class="form-group row mt-2" *ngIf="!manageRequest && !requestCompleted">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <mat-form-field class="w-100">
                <mat-label>In-Charge Person:</mat-label>
                <!-- <mat-select [(ngModel)]="jobOrderIssuedTo" name="jobOrderIssuedTo" required> -->
                <mat-select [(ngModel)]="jobOrderIssuedTo" name="jobOrderIssuedTo" >
                    <mat-option value="0" disabled>Please select</mat-option>
                    <mat-option *ngFor="let c of chief;" [value]="c.ID">{{ c.FULL_NAME }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <mat-form-field class="w-100">
                <input matInput
                       [matDatepicker]="picker" 
                       placeholder="Estimated Completion Date:" 
                       [(ngModel)]="jobOrderEstDateRequired"
                       (focus)="picker.open();" 
                       name="jobOrderEstDateRequired" required />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="form-group row mt-1">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="!manageRequest && !requestCompleted">
            <mat-form-field class="w-100">
                <textarea matInput placeholder="Work Instructions:" [(ngModel)]="jobOrderWorkRequired" name="jobOrderWorkRequired" rows="2"></textarea>
            </mat-form-field>
        </div>
    </div>

    <!-- IF MANAGE REQUEST -->
    <div *ngIf="manageRequest" class="mb-2">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label class="font-weight-light small text-muted mr-auto">
                    In-Charge Person: <span>{{ resIssuedTo }}</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label class="font-weight-light small text-muted mr-auto">
                    Estimated Completion Date: <span>{{ resEstimatedCompletion | date: 'MMM dd, y' }}</span>
                </label>
            </div>
        </div>

        <div class="row" *ngIf="resWorkRequired ? true : false">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <!-- text-nowrap -->
                <label class="font-weight-500 to-gray mr-auto w-100">
                    Work Instructions: <br />
                    <div class="ml-4 mr-4 text-justify">
                        <span class="text-muted">{{ resWorkRequired }}</span>
                    </div>
                </label>
            </div>
        </div>
    
    </div>

    <!-- SERVICE REPRESENTATIVE -->
    <mat-slide-toggle class="to-gray" (click)="otherInfo()" *ngIf="!manageRequest && !requestCompleted">Other Information</mat-slide-toggle>
    <div *ngIf="attrOther">
        <div class="form-group row" *ngIf="createNew">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="d-flex inline-block">
                    <mat-form-field class="w-100">
                        <mat-label>Material</mat-label>
                        <mat-select 
                            [(ngModel)]="jobOrderMaterials" 
                            name="jobOrderMaterials"
                            id="jobOrderMaterials">
                                <mat-option value="0" disabled>Please select</mat-option>
                                <mat-option value="1">Material 1</mat-option>
                                <mat-option value="2">Material 2</mat-option>
                        </mat-select>
                        <mat-hint class="small">To add material press enter / click the button.</mat-hint>
                    </mat-form-field> &nbsp;
                    <div>
                        <button class="btn btn-dark btn-sm ml-1" (click)="btnAddMaterial()">&rarr;</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <ul>
                    <li *ngFor="let material of materialList">
                        <a href="#" class="text-muted font-weight-500" (click)="removeMaterial(material)">
                            {{ material }}
                            <span class="text-danger font-weight-bold">&times;</span>
                        </a>
                    </li>
                </ul>
            </div>   
        </div>
    
        <div class="form-group row" *ngIf="createNew">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="d-flex inline-block">
                    <app-manpower class="w-100" (manpowerId)="getManpower($event)"></app-manpower> &nbsp;
                    <div>
                        <button class="btn btn-dark btn-sm ml-1" (click)="btnAddManpower()">&rarr;</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" >
                <ul>
                    <li *ngFor="let manpower of manpowerList">
                        <a href="#" 
                           class="text-muted font-weight-500" 
                           [ngClass]="{ 'manpower-deleted': (manpower.IS_NEW === 'deleted') }"
                           (click)="removeManpower(manpower.M_ID)">
                            {{ manpower.NAME }}
                            <span class="text-danger font-weight-bold">&times;</span>
                        </a>
                        <a href="#"
                            *ngIf="manpower.IS_NEW === 'deleted'" 
                            class="text-danger small font-weight-bold ml-2 text-right"
                            (click)="restoreManpower(manpower.M_ID)"
                            >
                            undo
                        </a>
                    </li>
                </ul>
            </div>   
        </div>
    
        <div class="form-group row" *ngIf="!createNew">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <mat-form-field class="w-100" >
                    <textarea matInput [(ngModel)]="jobOrderFindings" name="jobOrderFindings" rows="2" placeholder="Findings:"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="form-group row" *ngIf="!createNew">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <mat-form-field class="w-100" >
                    <textarea matInput [(ngModel)]="jobOrderStatusReport" name="jobOrderStatusReport" rows="2" placeholder="Solutions / Recommendations:"></textarea>
                </mat-form-field>
            </div>
        </div>
    
        <div class="form-group row" *ngIf="!createNew">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <mat-form-field class="w-100">
                    <mat-label>Date / Time Started:</mat-label>
                    <input matInput [(ngModel)]="jobOrderDateStarted" name="jobOrderDateStarted" placeholder="YYYY/MM/DD HH:MM" />
                    <mat-hint>
                        Ex.: 2019/06/15 22:30
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <mat-form-field class="w-100">
                    <mat-label>Date / Time Finished:</mat-label>
                    <input matInput [(ngModel)]="jobOrderDateFinished" name="jobOrderDateFinished" placeholder="YYYY/MM/DD HH:MM" />
                    <mat-hint>
                        Ex.: 2019/06/15 22:30
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <mat-form-field class="w-100">
                    <input matInput [(ngModel)]="jobOrderDowntime" name="jobOrderDowntime" placeholder="Downtime Hours:" />
                    <mat-hint>Minutes</mat-hint>
                </mat-form-field>
            </div>
        </div>
    
        <div class="form-group row mt-2" *ngIf="!createNew">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <mat-form-field class="w-100">
                    <mat-label>Other related suggestions on arguments:</mat-label>
                    <textarea matInput [(ngModel)]="jobOrderNotes" name="jobOrderNotes" rows="2"></textarea>
                </mat-form-field>
            </div>
        </div>

        <mat-checkbox name="jobCompleted" (click)="completed()" *ngIf="!createNew">Mark as Completed</mat-checkbox>
    </div>

    <!-- Acceptance -->
    <div *ngIf="requestCompleted" class="mb-2">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label class="font-weight-light small text-muted mr-auto">
                    Person In-Charge: <span class="font-weight-500 to-gray text-muted mr-auto">{{ resIssuedTo }}</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label class="font-weight-light small text-muted mr-auto">
                    Estimated Completion Date: <span class="font-weight-500 to-gray text-muted mr-auto">{{ resEstimatedCompletion | date: 'MMM dd, y' }}</span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label class="font-weight-light small text-muted mr-auto">
                    Date / Time Started: <span class="font-weight-500 to-gray text-muted mr-auto">{{ jobOrderDateStarted | date: 'MMM dd, y HH:mm' }}</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label class="font-weight-light small text-muted mr-auto">
                    Date / Time Finished: <span class="font-weight-500 to-gray text-muted mr-auto">{{ jobOrderDateFinished | date: 'MMM dd, y HH:mm' }}</span>
                </label>
            </div>
        </div>

        <!-- <div class="row mt-1">
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <label class="font-weight-500 to-gray text-nowrap mr-auto">
                    Work Instructions: <br />
                        <span class="m-4 text-muted">{{ resWorkRequired }}</span>
                </label>
            </div>
        </div>

        <hr class="hr-dotted">
        <h6 class="text-muted mr-auto">Service Representative Details</h6> -->

        <!-- <div class="form-group row"> -->
            <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label class="font-weight-500 to-gray text mr-auto">Material</label>
                    <ul class="small">
                        <li>Material 1</li>
                        <li>Material 2</li>
                        <li>Material 3</li>
                    </ul>
            </div> -->
            <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label class="font-weight-500 to-gray text mr-auto">Manpower</label>
                <ul class="small">
                    <li *ngFor="let manpowerx of manpowerList">
                        <a href="#" class="text-muted font-weight-500">
                            {{ manpowerx.NAME }}
                        </a>
                    </li>
                </ul>
            </div> -->
        <!-- </div> -->

        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label class="font-weight-500 to-gray text mr-auto">Findings: </label>
                <br/>
                <span class="m-4 text-muted">{{ jobOrderFindings }}</span>
            </div>
            
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
                <label class="font-weight-500 to-gray text mr-auto">Solutions / Recommendations: </label>
                <br/>
                <span class="m-4 text-muted mr-auto">{{ jobOrderStatusReport }}</span>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
                <label class="font-weight-500 to-gray text mr-auto">Other related suggestions on arguments: </label>
                <br/>
                <span class="m-4 text-muted">{{ jobOrderNotes }}</span>
            </div>
        </div>

        <hr class="hr-dotted" />
        <!-- (requestRepresentativeID !== userLoggedInID || requestRepresentativeID === userLoggedInID) && requestStatus < 3 -->
        <!-- requestRepresentativeID !== userLoggedInID && requestStatus !== 4 -->
        <div class="form-group row" *ngIf="acceptanceVisibility">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <mat-form-field class="w-100">
                    <textarea matInput placeholder="Remarks / Comments:" rows="2" name="acceptance" [(ngModel)]="acceptance" autofocus="true"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>

    <ngb-alert type="success" 
        class="font-weight-500" 
        [dismissible]="false"
        [hidden]="msg"
        >
    {{ msgTxt }}
    </ngb-alert>

    <!-- *ngIf="requestDetails.status === 'approved'" -->
    <!-- ((requestRepresentativeID !== userLoggedInID || requestRepresentativeID === userLoggedInID) && requestStatus < 3) && requestStatus !== 4 && (userLevel != 'requestor' || (userLevel === 'requestor' && jobOrderStatus === '1')) -->
    <div class="form-group row" *ngIf="buttonVisibility">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <button mat-raised-button color="warn" class="text-uppercase w-100" [routerLink]="['/job']" >{{ btnCancel }}</button>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <button mat-raised-button color="primary" class="text-uppercase w-100" (click)="createJobOrder()">{{ btnTxt }}</button>
        </div>
    </div>
</form>