#showCount {
    height: calc(1.8125rem + 2px);
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-size: 75%;
    padding: 0.375rem 1.25rem 0.375rem 1.25rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-size: 8px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align-last: center;
    border-color: #ced4da;
}

.no-select {
    user-select: none;
}

.highlight {
    background-color: #b6ffb2 !important;
}

input, select {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: none;
    font-size: 13.5px !important;
}

input:focus, select:focus {
    border-bottom: 2px solid #28a745 !important;
    border-bottom-width: 2px !important;
    border-bottom-style: solid !important;
    border-bottom-color: rgb(40, 167, 69) !important;
    box-shadow: none !important;
}