input:focus,
select:focus,
textarea:focus {
    border-bottom: 2px solid #28a745 !important;
    box-shadow: #28a745 !important;
}

.ng-input input:focus {
    border-bottom: 0 !important;
    box-shadow: none !important;
}

.right-0 {
    right: 0;
}

th {
    text-transform: uppercase !important;
    font-size: 15px !important;
}

.legend-editable {
    background-color: bisque;
    padding: 2.5px;
    /* font-weight: 500; */
}

span .td-indicator {
    margin-left: 1px;
}

.td-editable {
    position: relative;
    background-color: bisque !important;
}

.td-indicator {
    position: absolute;
    width: 0;
    height: 0;
    top: 1px;
    left: 1px;
    border-top: 7px solid #ff7873;
    border-right: 7px solid transparent;
}

.td-indicator-required {
    position: absolute;
    width: 0;
    height: 0;
    top: 1px;
    left: 2px;
    border-top: 7px solid #7a7aff;
    border-right: 7px solid transparent;
}

.form-editable-required {
    position: absolute;
    width: 0;
    height: 0;
    top: 1px;
    left: 2px;
    border-top: 7px solid #7a7aff;
    border-right: 7px solid transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

/* @media screen and (max-width: 600px) { */
@media screen and (max-width: 850px) {
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      display: block;
      margin-bottom: 1rem;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
      min-height: 32px !important;
      width: 100%;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: 500;
    }

    .btn-save-container {
      position: relative !important;
      text-align: center;
    }
  }

.btn:not(#user_profile_dropdown):not(.custom-select-btn):not(.dropdown-option):not(#btn_see_more) {
    width: 200px;
    margin: 10px;
    border-radius: 100px;
    font-weight: 500;
    text-transform: capitalize;
}

/*******************
*  FLOATING LABELS *
********************/

.form-label-group {
    position: relative;
    padding-right: 40px;
}

.form-label-group > label {
    z-index: -1;
    position: absolute;
    top: -17px;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 2.5;
    color: #495057;
    border: 1px solid transparent;
    transition: all .1s ease-in-out;
}

.form-label-group input::placeholder,
.form-label-group input::-moz-placeholder,
.form-label-group input::-ms-input-placeholder,
.form-label-group input::-webkit-input-placeholder,
.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

/* .form-label-group input, .form-label-group select {
    padding-top: 30px;
    padding-bottom: 10px;
} */

.form-label-group label {
    font-size: 13px;
    font-weight: 500 !important;
    color: #777;
}

.modal-body .form-label-group > label, #formCreateAccount label {
    z-index: 1021 !important;
}