<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="bg-white p-3 m-3 border-muted">
                <div class="row m-1">
                    <h5 class="text-muted">Administrator</h5>
                </div>
                <hr>
                <mat-tab-group>
                    <mat-tab label="Department">
                        <div class="table-responsive mt-4">
                            <button mat-raised-button color="primary" (click)="showDepartmentDialog(null)">Add Department</button>
        
                            <table class="table table-bordered table-sm text-center mt-3" id="tbl_departments" width="100%">
                            <thead class="text-uppercase">
                                <tr>
                                    <th rowspan="2" class="align-middle">Name</th>
                                    <th rowspan="2" class="align-middle">Representative</th>
                                    <th rowspan="2" class="align-middle">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dept of departments;" (dblclick)="showDepartmentDialog(dept.ID)">
                                    <td class="align-middle">{{ dept.NAME | uppercase }}</td>
                                    <td class="align-middle">
                                        <span *ngIf="dept.REP_NAME">
                                            {{ dept.REP_NAME | titlecase }}
                                        </span>
                                        <span *ngIf="dept.REP_NAME === null">
                                            -
                                        </span>
                                    </td>
                                    <td class="align-middle">
                                        {{ dept.STATUS === null ? 'Active' : 'Inactive' }}
                                        <a class="btn btn-link btn-sm font-weight-bold float-right">&#8599;</a>
                                    </td>
                                </tr>
                                <tr *ngIf="departments.length === 0">
                                    <td colspan="3">No departments found. </td>
                                </tr>
                            </tbody>
                            </table>                
                        </div>
                    </mat-tab>
                    <!-- SERVICES TAB -->
                    <mat-tab label="Services">
                        <div class="table-responsive mt-4">
                            <button mat-raised-button color="primary" (click)="showServicesDialog(null);">Add Services</button>
        
                            <table class="table table-bordered table-sm text-center mt-3" id="tbl_services" width="100%">
                            <thead class="text-uppercase">
                                <tr>
                                    <th rowspan="2" class="align-middle">Code</th>
                                    <th rowspan="2" class="align-middle">Description</th>
                                    <th rowspan="2" class="align-middle">Department</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let service of services;" (dblclick)="showServicesDialog(service.SR_TYPE_ID);">
                                    <td class="align-middle">
                                        {{ service.SR_TYPE_CODE | uppercase }}
                                    </td>
                                    <td class="align-middle">
                                        {{ service.SR_TYPE_NAME | titlecase }}
                                    </td>
                                    <td class="align-middle">
                                        {{ service.REP_NAME }}
                                        <a class="btn btn-link btn-sm font-weight-bold float-right">&#8599;</a>
                                    </td>
                                </tr>
                                <tr *ngIf="services.length === 0">
                                    <td colspan="3">No services found. </td>
                                </tr>
                            </tbody>
                            </table>                
                        </div>
                    </mat-tab>
                    <!-- Accounts TAB -->
                    <mat-tab label="Accounts">
                        <div class="table-responsive mt-4">
                            <button mat-raised-button color="primary" (click)="showAccountDialog(null)">Add Account</button>
        
                            <table class="table table-bordered table-sm text-center mt-3" id="tbl_accounts" width="100%">
                            <thead class="text-uppercase">
                                <tr>
                                    <th rowspan="2" class="align-middle">Name</th>
                                    <th rowspan="2" class="align-middle">Username</th>
                                    <th rowspan="2" class="align-middle">Department</th>
                                    <th rowspan="2" class="align-middle">User Level</th>
                                    <!-- <th rowspan="2" class="align-middle">Status</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let account of accounts;" (dblclick)="showAccountDialog(account.USER_ID)">
                                    <td class="align-middle">
                                        {{ account.NAME | uppercase }}
                                    </td>
                                    <td class="align-middle">
                                        {{ account.USERNAME | lowercase }}
                                    </td>
                                    <td class="align-middle">
                                        {{ account.DEPARTMENT_NAME | uppercase }}
                                    </td>
                                    <td class="align-middle">
                                        {{ account.USER_LEVEL | uppercase }}
                                        <a class="btn btn-link btn-sm font-weight-bold float-right">&#8599;</a>
                                    </td>
                                    <!-- <td class="align-middle">
                                        {{ account.status }}
                                    </td> -->
                                </tr>
                                <tr *ngIf="accounts.length === 0">
                                    <td colspan="4">No accounts found.</td>
                                </tr>
                            </tbody>
                            </table>                
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>