<div class="container py-5" *ngIf="!toggleAccount">
    <!-- <a href="javascript:void(0);" (click)="toggle()">Create Account</a> -->
    <div class="d-flex justify-content-between p-2">
        <div>
            <button class="btn btn-dark font-weight-500 border-100 px-5" (click)="toggle(true)">Create Account</button>
        </div>
        <div class="input-group input-group-sm w-25">
            <div class="input-group-prepend mr-2">
                <p>Search:</p>
            </div>
            <input class="form-control py-0" type="text" name="search" id="search" [(ngModel)]="searchVal" (ngModelChange)="refreshSource()">
        </div>         
    </div>
    <div class="table-responsive mt-2">
        <table class="table table-bordered table-sm table-hover text-center" id="tblAccounts">
            <thead class="text-capitalize">
                <tr>
                    <th (click)="toggleOrder('LAST_NAME')">Name</th>
                    <th (click)="toggleOrder('USERNAME')">Username</th>
                    <th (click)="toggleOrder('GENDER')">Gender</th>
                    <th (click)="toggleOrder('USER_LEVEL')">User Level</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let acct of accounts" (dblclick)="editAccount(acct.ID)">
                    <td data-label="Name">
                        <fa-icon [icon]="faEdit" 
                                class="float-left d-sm-none d-md-block ml-3" 
                                (click)="editAccount(acct.ID)"></fa-icon>
                        <ngb-highlight [result]="acct.LAST_NAME + ', ' + acct.FIRST_NAME | titlecase" [term]="filter.value"></ngb-highlight>
                        <!-- {{ acct.LAST_NAME + ', ' + acct.FIRST_NAME | titlecase }} -->
                    </td>
                    <td data-label="Username">{{ acct.USERNAME | lowercase }}</td>
                    <td data-label="Gender">{{ acct.GENDER | titlecase }}</td>
                    <td data-label="User Level">{{ acct.USER_LEVEL | titlecase }}</td>
                </tr>
                <tr *ngIf="accounts?.length === 0">
                    <td colspan="4">No records found.</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination class="mx-3" [collectionSize]="totalCount" [(page)]="pageNumber" [pageSize]="showCount" aria-label="Default pagination" (pageChange)="refreshSource()"></ngb-pagination>
            
            <select class="custom-select" style="width: auto" [(ngModel)]="showCount" (ngModelChange)="refreshSource()">
                <option [ngValue]="3">3 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="15">15 items per page</option>
            </select>
            </div>
    </div>
</div>

<div class="container-fluid py-3" *ngIf="toggleAccount">
    <div class="row">
        <div class="col-sm-12 col-md-4"></div>
        <div class="col-sm-12 col-md-4 card p-5 card-shadow">
            <div>
                <h5 class="text-muted m-0 float-left">{{ formTitle }}</h5>
                <h5 class="close m-0" (click)="toggle(false)">&times;</h5>
            </div>
            <hr />
            <form method="POST" id="formCreateAccount" [formGroup]="formCreateAccount">
                <label class="small">Required <span class="text-danger">*</span></label>
                <div class="form-label-group">
                    <input type="text" 
                           class="form-control floating-label "
                           placeholder="" 
                           id="firstName"
                           #firstName
                           formControlName="firstName"
                           autofocus required>
                    <label for="firstName">First Name <span class="text-danger">*</span></label>
                </div>
                <div class="form-label-group">
                    <input type="text" 
                           class="form-control floating-label" 
                           id="middleName" 
                           placeholder=""
                           formControlName="middleName"
                           >
                    <label for="middleName">Middle Name</label>
                </div>
                <div class="form-label-group">
                    <input type="text" 
                           class="form-control floating-label" 
                           id="lastName" 
                           placeholder="" 
                           formControlName="lastName"
                           required>
                    <label for="lastName">Last Name <span class="text-danger">*</span></label>
                </div>
                <div class="form-label-group">
                    <input type="text" 
                           class="form-control floating-label" 
                           placeholder="" 
                           formControlName="username"
                           id="username">
                    <label for="username">Username <span class="text-danger">*</span></label>
                </div>
                <div class="form-group">
                    <label for="userLevel">User Level <span class="text-danger">*</span></label>
                    <select class="form-control" id="userLevel" formControlName="userLevel">
                        <option value="user">User</option>
                        <option value="supervisor">Supervisor</option>
                        <option value="manager">Manager</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-radio d-inline-block">
                        <input type="radio" 
                               name="gender" 
                               class="custom-control-input" 
                               id="genderMale"
                               value="male"
                               formControlName="gender"
                               checked>
                        <label class="custom-control-label" for="genderMale">Male</label>
                    </div>
                    &nbsp;&nbsp;
                    <div class="custom-control custom-radio d-inline-block">
                        <input type="radio" 
                                name="gender" 
                                class="custom-control-input" 
                                id="genderFemale"
                                value="female"
                                formControlName="gender"
                               >
                        <label class="custom-control-label" for="genderFemale">Female</label>
                    </div>
                </div>
        
                <a href="javascript:void(0);" *ngIf="acctID > 0" (click)="resetPassword()">Click to reset the password to "welcome"</a>
                <button class="btn btn-success border-100 w-100 font-weight-bold mt-4 text-uppercase" 
                        id="btnCreate"
                        (click)="createAccount(formCreateAccount.value)">
                        {{ formButtonTxt }}
                </button>
            </form>

            <div *ngIf="msg" id="snackbar" class="font-weight-500 show">{{ msg }}</div>
        </div>
        <div class="col-sm-12 col-md-4"></div>
    </div>
</div>