.manpower_list,
.start_time,
.end_time,
.remarks {
    background-color: transparent !important;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #9B8864;
    font-size: 13px !important;
}

.remarks {
    resize: none;
}

option:disabled {
    color: #c9c7c6;
}

.pos-select-dropdown {
    max-height: 200px !important;
    overflow-y: scroll !important;
    overflow-x: hidden;
    z-index: 2;
}

.pos-select-dropdown::-webkit-scrollbar {
    display: none;
}

.custom-select-btn {
    text-align: left !important;
}

.custom-select-btn:focus {
    border-bottom: 2px solid #28a745 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.custom-select-btn::after {
    position: absolute;
    top: 40%;
    right: 6px;
}