<div class="container-fluid mt-4" id="container_manpower">
    <div class="table-responsive">
        <h6 class="text-center text-muted text-uppercase">Manpower</h6>
        <table class="table table-bordered table-sm table-hover text-center" id="table_manpower">
            <thead class="text-uppercase">
                <tr>
                    <th rowspan="2" class="align-middle">Position</th>
                    <th rowspan="2" class="align-middle" width="25%">Name</th>
                    <th colspan="2">Time</th>
                    <th rowspan="2" class="align-middle">Remarks</th>
                    <th rowspan="2" class="align-middle" width="15%">Last <br />Updated By</th>
                    <th colspan="2">Date</th>
                </tr>
                <tr>
                    <th width="6%">From</th>
                    <th width="6%">To</th >
                    <th>Entered</th>
                    <th>Updated</th>
                </tr>
            </thead>
            <tbody *ngIf="manpowers.length > 0; else elseBlock">
                <tr *ngFor="let position of positions; let i = index;">
                    <td class="align-middle" data-label="Position">{{ position.position }}</td>
                    <td *ngIf="!isAuthorized" class="align-middle" data-label="Manpower">
                        <span *ngIf="positions[i].selected_index !== 0">
                            {{ accounts[positions[i].selected_index].FIRST_NAME }} {{ accounts[positions[i].selected_index].LAST_NAME }}
                        </span>
                        <span *ngIf="positions[i].selected_index === 0">
                            
                        </span>
                    </td>
                    <td *ngIf="isAuthorized" class="align-bottom td-editable" data-label="Manpower">
                        <div class="td-indicator-required"></div>
                        <!-- (focus)="manpowerFocus(manpowerID.value)" 
                        (change)="manpower($event)" -->
                        <select 
                            class="form-control manpower_list" 
                            max="10" 
                            name="manpowerID" 
                            #manpowerID 
                            (change)="handleChange($event, i)"
                            [(ngModel)]="positions[i].selected"
                            [attr.selected_index]="positions[i].selected_index"
                            #tdEditable >
                            <!-- <option value="0">No Manpower Setup</option> -->
                            <!-- FIX DISABLE ON LOAD -->
                            <option *ngFor="let account of accounts; let ii = index"
                                    [disabled]="account.DISABLED"
                                    value="{{ account.ID }}">
                                    {{ account.FIRST_NAME}} {{ account.LAST_NAME}}
                            </option>
                        </select>
                    </td>
                    <td *ngIf="!isAuthorized" class="align-middle" data-label="Start">
                        <span *ngIf="manpowers[i].START_TIME">
                            {{manpowers[i].START_TIME}}
                        </span>
                        <span *ngIf="!manpowers[i].START_TIME">
                            
                        </span>
                    </td>
                    <td *ngIf="isAuthorized" class="align-bottom td-editable" data-label="Start">
                        <div class="td-indicator"></div>
                        <input type="text" 
                            class="form-control start_time" 
                            name="startTime"
                            #startTime
                            [mask]="'00:00'"
                            (blur)="validateInput($event, i, 'start', 'blur')"
                            (ngModelChange)="handleInput(i)"
                            [(ngModel)]="manpowers[i].START_TIME"
                            (focus)="$event.target.select();"
                            (keyup.enter)="time(startTime.value, $event, i, 'start');"
                            (keydown.enter)="preventEnter($event)"
                            placeholder="HHmm"
                            #tdEditable />
                    </td>
                        <!-- (keydown)="formatTime(startTime.value, $event)" -->
                    <td *ngIf="!isAuthorized" class="align-middle" data-label="End">
                        <span *ngIf="manpowers[i].END_TIME">
                            {{manpowers[i].END_TIME}}
                        </span>
                        <span *ngIf="!manpowers[i].END_TIME">
                            
                        </span>
                    </td>
                    <td *ngIf="isAuthorized" class="align-bottom td-editable" data-label="End">
                        <div class="td-indicator"></div>
                        <input type="text" 
                                class="form-control end_time"
                                name="endTime" 
                                #endTime
                                [mask]="'00:00'"
                                (blur)="validateInput($event, i, 'end', 'blur')"
                                (ngModelChange)="handleInput(i)"
                                [(ngModel)]="manpowers[i].END_TIME"
                                (focus)="$event.target.select();"
                                (keyup.enter)="time(endTime.value, $event, i, 'end');"
                                (keydown.enter)="preventEnter($event)"
                                placeholder="HHmm"
                                #tdEditable />
                    </td>
                    <td *ngIf="!isAuthorized" class="align-middle" data-label="Remarks">
                        <span *ngIf="manpowers[i].REMARKS">
                            {{manpowers[i].REMARKS}}
                        </span>
                        <span *ngIf="!manpowers[i].REMARKS">
                            
                        </span>
                    </td>                    
                    <td *ngIf="isAuthorized" class="align-bottom td-editable" data-label="Remarks">
                        <div class="td-indicator"></div>
                        <textarea class="form-control remarks" 
                            (keyup.enter)="time('', $event)"
                            (keydown.enter)="preventEnter($event)" 
                            autosize rows="1" 
                            (ngModelChange)="handleInput(i)"
                            [(ngModel)]="manpowers[i].REMARKS"
                            #tdEditable></textarea>
                    </td>
                    <td class="align-middle" data-label="Updated By">{{manpowers[i].LAST_UPDATED_BY_NAME}}</td>
                    <td class="align-middle" data-label="Date Entered">{{manpowers[i].DATE_ENTERED | date : 'MMM d, y HH:mm' }}</td>
                    <td class="align-middle" data-label="Date Updated">{{manpowers[i].DATE_UPDATED | date : 'MMM d, y HH:mm' }}</td>
                </tr>
            </tbody>
            <ng-template #elseBlock>
                <tbody>
                    <tr>
                        <td colspan="8">
                            No Records Found
                        </td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </div>
</div>

<ng-template #loginModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title pull-left text-muted">INVALID</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body m-4">
        <ngb-alert type="danger">Manpower was already assigned.</ngb-alert>
    </div>
</ng-template>