<div class="container-fluid mt-4" id="container_manpower">
    <div class="table-responsive">
        <h4 class="text-center text-muted text-uppercase">Manpower</h4>
        <table class="table table-bordered table-sm table-hover text-center" id="table_manpower">
            <thead class="text-uppercase">
                <tr>
                    <th rowspan="2" class="align-middle">Position</th>
                    <th rowspan="2" class="align-middle" width="25%">Name</th>
                    <th colspan="2">Time</th>
                    <th rowspan="2" class="align-middle">Remarks</th>
                    <th rowspan="2" class="align-middle" width="15%">Last <br />Updated By</th>
                    <th colspan="2">Date</th>
                </tr>
                <tr>
                    <th width="6%">From</th>
                    <th width="6%">To</th>
                    <th>Entered</th>
                    <th>Updated</th>
                </tr>
            </thead>
            <tbody *ngIf="manpowers.length > 0; else elseBlock">
                <tr *ngFor="let position of positions; let i = index;">
                    <td class="align-middle" data-label="Position">{{ position.POSITION }}</td>
                    <td *ngIf="!isAuthorized" class="align-middle" data-label="Manpower">
                        <span *ngIf="positions[i].SELECTED_INDEX !== 0">
                            {{ accounts[positions[i].SELECTED_INDEX].FIRST_NAME }}
                            {{ accounts[positions[i].SELECTED_INDEX].LAST_NAME }}
                        </span>
                        <span *ngIf="positions[i].SELECTED_INDEX === 0">
                            No Manpower Setup
                        </span>
                    </td>
                    <td *ngIf="isAuthorized" class="align-bottom td-editable" data-label="Manpower">
                        <div class="td-indicator-required"></div>
                        <!-- <select class="form-control manpower_list" max="10" name="manpowerID" #manpowerID
                            (change)="handleChange($event, i)" [(ngModel)]="positions[i].SELECTED"
                            [attr.SELECTED_INDEX]="positions[i].SELECTED_INDEX" #tdEditable>
                            <option *ngFor="let account of accounts; let ii = index" [disabled]="account.DISABLED"
                                value="{{ account.ID }}">
                                {{ account.FIRST_NAME}} {{ account.LAST_NAME}}
                            </option>
                        </select> -->
                        <div class="w-100" display="dynamic" [id]="'pos_dd_' + i" ngbDropdown
                            *ngIf="accounts" [attr.SELECTED_INDEX]="positions[i].SELECTED_INDEX">
                            <button class="btn custom-select-btn btn-sm w-100" [id]="'pos_btn_' + i" ngbDropdownToggle
                                (click)="dropdownToggle(i)">{{accounts[position.SELECTED_INDEX].DISPLAY_NAME}}</button>
                            <div ngbDropdownMenu [attr.aria-labeled-by]="'pos_btn_' + i"
                                class="overflow-scroll pos-select-dropdown container pt-0">
                                <input type="text" (keydown.arrowdown)="itemFocus(i, $event)" (focus)="$event.target.select();" (input)="inputChange($event)"
                                    name="search" [id]="'search_' + i" class="form-control py-0" placeholder="{{accounts[position.SELECTED_INDEX].DISPLAY_NAME}}">
                                <button class="btn btn-sm w-100 text-left" ngbDropdownItem
                                    *ngFor="let account of optionQuery; let ii = index" (keyup.arrowup)="inputFocus(i,ii, $event)"
                                    [disabled]="account.DISABLED ? true: null" [attr.parent_dropdown]="'pos_dd_' + i"
                                    (click)="handleSelect(i, ii)">
                                    {{ account.FIRST_NAME}} {{ account.LAST_NAME}}
                                </button>
                            </div>
                        </div>
                        <!-- <ng-select
                            autofocus
                            (change)="handleChange($event, i)"
                            [(ngModel)]="positions[i].SELECTED"
                            [attr.SELECTED_INDEX]="positions[i].SELECTED_INDEX"
                            >
                            <ng-option *ngFor="let account of accounts; let ii = index" [disabled]="account.DISABLED"
                                value="{{ account.ID }}">
                                {{ account.FIRST_NAME}} {{ account.LAST_NAME}}
                            </ng-option>
                        </ng-select>                         -->
                    </td>
                    <td *ngIf="!isAuthorized" class="align-middle" data-label="Start">
                        <span *ngIf="manpowers[i].START_TIME">
                            {{manpowers[i].START_TIME}}
                        </span>
                        <span *ngIf="!manpowers[i].START_TIME">

                        </span>
                    </td>
                    <td *ngIf="isAuthorized" class="align-bottom td-editable" data-label="Start">
                        <div class="td-indicator"></div>
                        <input type="text" class="form-control start_time" name="startTime" #startTime [mask]="'00:00'"
                            (blur)="validateInput($event, i, 'start', 'blur')" (ngModelChange)="handleInput(i)"
                            [(ngModel)]="manpowers[i].START_TIME" (focus)="$event.target.select();"
                            (keyup.enter)="time(startTime.value, $event, i, 'start');"
                            (keydown.enter)="preventEnter($event)" placeholder="HHmm" #tdEditable />
                    </td>
                    <!-- (keydown)="formatTime(startTime.value, $event)" -->
                    <td *ngIf="!isAuthorized" class="align-middle" data-label="End">
                        <span *ngIf="manpowers[i].END_TIME">
                            {{manpowers[i].END_TIME}}
                        </span>
                        <span *ngIf="!manpowers[i].END_TIME">

                        </span>
                    </td>
                    <td *ngIf="isAuthorized" class="align-bottom td-editable" data-label="End">
                        <div class="td-indicator"></div>
                        <input type="text" class="form-control end_time" name="endTime" #endTime [mask]="'00:00'"
                            (blur)="validateInput($event, i, 'end', 'blur')" (ngModelChange)="handleInput(i)"
                            [(ngModel)]="manpowers[i].END_TIME" (focus)="$event.target.select();"
                            (keyup.enter)="time(endTime.value, $event, i, 'end');"
                            (keydown.enter)="preventEnter($event)" placeholder="HHmm" #tdEditable />
                    </td>
                    <td *ngIf="!isAuthorized" class="align-middle" data-label="Remarks">
                        <span *ngIf="manpowers[i].REMARKS">
                            {{manpowers[i].REMARKS}}
                        </span>
                        <span *ngIf="!manpowers[i].REMARKS">

                        </span>
                    </td>
                    <td *ngIf="isAuthorized" class="align-bottom td-editable" data-label="Remarks">
                        <div class="td-indicator"></div>
                        <textarea class="form-control remarks" (keydown.enter)="preventEnter($event)" autosize rows="1"
                            (ngModelChange)="handleInput(i)" [(ngModel)]="manpowers[i].REMARKS" #tdEditable></textarea>
                    </td>
                    <td class="align-middle" data-label="Updated By">{{manpowers[i].LAST_UPDATED_BY_NAME}}</td>
                    <td class="align-middle" data-label="Date Entered">
                        {{manpowers[i].DATE_ENTERED | date : 'MMM d, y HH:mm' }}</td>
                    <td class="align-middle" data-label="Date Updated">
                        {{manpowers[i].DATE_UPDATED | date : 'MMM d, y HH:mm' }}</td>
                </tr>
            </tbody>
            <ng-template #elseBlock>
                <tbody>
                    <tr>
                        <td colspan="8">
                            No Records Found
                        </td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </div>
</div>

<ng-template #loginModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title pull-left text-muted">INVALID</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body m-4">
        <ngb-alert type="danger">Manpower was already assigned.</ngb-alert>
    </div>
</ng-template>