<div class="m-3">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <label class="font-weight-light small text-muted mr-auto">Request No.: {{ controlNumber }}</label>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label class="font-weight-light small text-muted text-nowrap">Date Requested: {{ dateRequested | date: 'MMM dd, y' }}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <label class="font-weight-light small text-muted text-nowrap">Requested By: {{ requestedBy }}</label>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label class="font-weight-light small text-muted text-nowrap">Date Required: {{ requestedDateRequired | date: 'MMM dd, y' }}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <label class="font-weight-light small text-muted text-nowrap">Department Head: {{ deptHead }}</label>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label class="font-weight-light small text-muted text-nowrap">Priority: {{ requestedPriority }}</label>
        </div>
    </div>

    <div class="row mt-3">
            <div class="col-sm-12 col-12">
                <label class="font-weight-500 to-gray text-nowrap">
                    Attachment: 
                    <mat-slide-toggle class="to-gray" (click)="setAttachment()">{{ attrAttachment === false ? 'Show' : 'Hide' }}</mat-slide-toggle>
                    <!-- <span *ngIf="requestedAttachment.length === 0"></span> -->
                </label>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" *ngFor="let attachment of attachments">
                <img *ngIf="attrAttachment" [src]="'/localapi/uploads/appui/' + attachment.IMG" class="w-100 h-100" (click)="previewImg('/localapi/uploads/appui/' + attachment.IMG)" />
            </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <!-- <label class="font-weight-500 to-gray text-nowrap">
                Request
            </label> -->
            <div class="m-3">
                <table class="table table-bordered table-sm">
                    <thead class="text-white">
                        <tr>
                            <th class="w-50">Service Requirements</th>
                            <th class="w-50">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let req of reqDetails;">
                            <td>{{ req.DTL_NAME }}</td>
                            <td>
                                {{ req.DTL_REMARKS }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="reqNotes != ' '">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label class="font-weight-500 to-gray text-nowrap">
                Additional Comments: <br />
                <span class="m-4 text-muted">{{ reqNotes }}</span>    
            </label>
        </div>
    </div>

    <div *ngIf="transferRequest">
        <div class="row mt-2">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <mat-form-field class="w-100">
                    <mat-label>Transfer request to</mat-label>
                    <mat-select 
                        id="reqRepresentative" 
                        name="reqRepresentative"
                        (selectionChange)="selectChangeHandler($event.value)"
                        [(ngModel)]="reqRepresentative"
                        matNativeControl>
                        <mat-option value="" disabled>Please select</mat-option>
                        <mat-option *ngFor="let service of serviceRep; let i = index;" [value]="service.PERSON_ID">
                            {{ service.REP_NAME }}
                        </mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="!reqRepresentative" class="small">
                        Please fill out this field.
                    </mat-error> -->
                </mat-form-field>
            </div>  
    
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" *ngIf="reqRepresentative">
                <mat-form-field class="w-100">
                    <input matInput 
                           id="reqIncharge" 
                           name="reqIncharge" 
                           [(ngModel)]="reqIncharge" 
                           readonly>
                </mat-form-field>
            </div>
            
        </div>
        
        <ngb-alert type="success" class="font-weight-500" [dismissible]="false" [hidden]="successTransfer">
            Request successfully transfered!
        </ngb-alert>

        <div class="row" *ngIf="userLevel !== 'requestor'">
            <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
                <button mat-raised-button color="primary" class="text-uppercase w-100" (click)="transferManpower(reqRepresentative);">Update</button>
            </div>
        </div>
    </div>

</div>