<form #formAcct="ngForm">
    <h1 mat-dialog-title>Account</h1>
    <div mat-dialog-content style="max-width: 350px;">
        <ngb-alert type="success" 
                   class="font-weight-500" 
                   [dismissible]="false"
                   [hidden]="msg"
                   >
            Successfully added an account.
        </ngb-alert>

        <mat-form-field class="w-100">
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="lastName" name="lastName" placeholder="Last Name">
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="firstName" name="firstName" placeholder="First Name">
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>Middle Name</mat-label>
            <input matInput [(ngModel)]="middleName" name="middleName" placeholder="Middle Name">
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username" name="username" placeholder="Username">
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>Department</mat-label>
            <mat-select 
                id="reqDepartment" 
                name="reqDepartment"
                matNativeControl
                [(ngModel)]="selectedDept" required>
                <mat-option value="" disabled>Please select</mat-option>
                <mat-option *ngFor="let department of departments"
                        value="{{ department.ID }}">
                    {{ department.NAME }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>User Level</mat-label>
            <mat-select 
                name="userLevel"
                matNativeControl
                [(ngModel)]="userLevel" required>
                <mat-option value="" disabled>Please select</mat-option>
                <mat-option value="requestor">Requestor</mat-option>
                <mat-option value="head">Dept. Head</mat-option>
                <mat-option value="chief">Chief</mat-option>
                <mat-option value="supervisor">Supervisor</mat-option>
                <mat-option value="admin">Admin</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button cdkFocusInitial color="primary" (click)="create(formAcct)">CREATE</button>
    </div>

</form>